#contenedorLibros > *:hover{
    cursor: pointer;
}

#contenedorLibros{
    position: fixed;
    height: 70%;
    width: 45%;
    transform: translateY(24%);

    display: flex;
    align-items: last baseline;
}

#mitologia{
    height: 98%;
    width: 22%;
    position: absolute;
    left: 14%;
    bottom: -1%;
}

#literatura{
    height: 95%;
    width: 22%;
    position: absolute;
    left: 32%;
    bottom: -1%;

}

#modernas{
    height: 87%;
    width: 22%;
    position: absolute;
    left: 48%;
    bottom: -1%;

}

#elementos{
    height: 91%;
    width: 22%;
    position: absolute;
    left: 64%;
    bottom: -1%;
}



