/*----------------------------------------SECCIÓN DEL LIBRO ABIERTO------------------------------------*/

.padreLibro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.libro{
    background-image: url('./../imgs/libro/libro.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 88%;
    width: 68%;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.libro--animacion{
    background: none;
    position: absolute;

    height: 101%;
    width: 90%;;

    top: -6%;

    z-index: -2;
}

.animacion{
    z-index: 4;
    background-repeat: no-repeat;
}

.libro__pag{
    padding: 3rem;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.libro__pag > img{
    width: 75%;
    height: auto;
    max-height: 20rem;
}

.pag1{
    margin-left: 40px;
    overflow: scroll;
    scrollbar-color: #582e66 #f5e8c7;
}

.pag2{
    margin-right: 40px;
}

.pag2 > p{
    width: 85%;
    max-height: 80%;
    overflow: scroll;
    text-align: justify;
    padding-right: 24px;
    font-size: 1.2rem;
    scrollbar-color: #582e66 #f5e8c7;
    font-family: 'Itim';
}

.pag2 > p li{
    list-style-type: disc;
}

#titulo{
    background-image: url('./../imgs/libro/tituloNombreBruja.png');
    background-position: center;
    background-size: 100% 100%;
    padding: 12px;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 45px;
    text-align: center;
    line-height: 0.8;
    font-size: 32px;

    font-family: 'Irish Grover';
}

#textoBruja{
    cursor: n-resize;
}

@media only screen and (max-height: 539px) {
    .libro__pag > img{
        width: 50%;
    }

    #titulo{
        font-size: 18px;
    }

}

@media only screen and (max-width: 1000px) {
    .libro__pag > img{
        width: 50%;
    }

    .pag1{
        margin-left: 1rem;
        padding-right: 4rem;
    }
    
    .pag2{
        margin-right: 1rem;
        padding-left: 3rem;
    }

    .pag2 p{
        font-size: 0.8rem;
    }

    .libro__pag{
        padding: 0.5rem;
        padding-top: 2rem;
    }

    #titulo{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        max-width: 8rem;
    }

    .libro__botones{
        width: 120%;
        font-size: 18px;
    }
    

}

@media only screen and (max-width: 580px) {

    #libro{
        background-image:url('./../imgs/libro/pergamino.webp');
        background-repeat: no-repeat;
        background-position: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    .libro__pag{
        width: 100%;
        overflow: visible;
    }

    .pag1{
        margin-left: 1rem;
        padding-right: 1rem;
    }

    #titulo{
        padding: 1rem;
        padding-bottom: 3rem;
        min-width: 10rem
    }
    
    .pag2{
        margin-right: 1rem;
        padding-left: 1rem;
        max-height: 40%;
    }

    .pag2 p{
        font-size: 1rem;
        overflow: scroll;
        z-index: 5;
        margin: 4rem;
        margin-top: 0rem;
    }

    .botones_lados{
        width: 120%;
    }

    .botones_lados .btn{
        z-index: 10;
    }

    .animacion{
        opacity: 0%;
    }


}


