/*Fuentes*/
@font-face {
    font-family: "Irish Grover";
    src: url(./fonts/IrishGrover-Regular.ttf);
}
@font-face {
    font-family: "Itim";
    src: url(./fonts/Itim-Regular.ttf);
}
h2{
    font-family: Irish Grover;
    color: #EBD18E;
    text-shadow: -1px 0 #331032, 0 1px #331032, 1px 0 #331032, 0 -1px #331032;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border:none;
}

.fondoCasita{
    background-image: url(./imgs/fondoCasita.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.logReg{
    border: solid #E59FE4 5px;
    border-radius: 23px;
    background-image:  linear-gradient(#943f92bd, #4d2859df);
    backdrop-filter: blur(5px);
    /*box-shadow: -1px -1px 73px -11px rgba(232,156,232,1); */
    box-shadow: -1px -1px 39px -3px rgba(232,156,232,1);
    height: 75%;
    width: 24%;
    text-align: center;
    margin-left: 4rem;
    display:flex;
    flex-direction: column; /*como es column el align items del padre lo pondrá en el centro de arriba a abajo*/
    align-items: center;
    gap: 35px;
    padding:15px 8px;
}

/*align items flex start para el form*/
.listaBotones{
    display: flex; /*alinea los elementos en una sola línea*/
    flex-wrap: wrap; /*si no caben en una línea te los lleva abajo*/
    text-align: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.btn{
    background-color: #EBD18E;
    border: 5px solid #7D6835;
    border-radius: 23px;
    box-shadow: 1px 8px 6px -6px rgba(0,0,0,0.37);
    font-family: Itim;
    color:#382e19;
    font-size: 15px;
}

button:focus{
    box-shadow: inset 1px 8px 6px -6px rgba(0,0,0,0.37);
}
.logReg__btn{
    width: 115px;
    height: 35px;
}
.btn__enviar{
    width: 80px;
    height: 39px;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:55px;
    align-items: center;
    justify-content: center;
}

input{
    background-color: #F5E8C7;
    width: 80%;
    height: 30px;
    border-radius: 23px;
    /*margin-bottom: 35px;*/
    text-indent: 10px; /*afecta al placeholder*/
    font-family: Itim;
}

input::placeholder{
    color:#7D6835;
    font-weight: bold;
}

input:focus{
    outline: #EBD18E solid 5px;
}

.icono{
    font-size:15px;
}