/*FUENTES*/
@font-face {
    font-family: "Irish Grover";
    src: url(./../fonts/IrishGrover-Regular.ttf);
}
@font-face {
    font-family: "Itim";
    src: url(./../fonts/Itim-Regular.ttf);
}

/*ESTILOS GENERALES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #582E66;
    font-size: 62.5%;
    z-index: 0;
    position: relative;
}

img{
    color: #582e6600;
}

.blurAlrededor {
    position: relative;
    box-shadow: inset 0 0 50px 50px #582E66;
    z-index: 10;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}

/*TAMAÑOS Y FUENTES*/

p, button, .btn, input{
    font-family: 'Itim';
    font-size: 1.2rem;
}

h1, h2, h3, h4, h5{
    font-family: "Irish Grover";
}

h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2.8rem;
}

/*BOTONES GENERALES*/

.btn{
    background-color: #EBD18E;
    border: 5px solid #7D6835;
    border-radius: 23px;
    box-shadow: 1px 8px 6px -6px rgba(0,0,0,0.37);
    font-family: Itim;
    color:#382e19;
    font-size: 1.2rem;
    cursor: pointer;
}

button:focus{
    box-shadow: inset 1px 8px 6px -6px rgba(0,0,0,0.37);
}


.fondoPpal{
    background-image: url('./../imgs/fondoBrujasExpand.jpg');
}

.fondoEstanteria{
    background-image: url('./../imgs/fondoEstanteriaDesktop.png');
    background-size: 110% 230%;
    background-position: center;
}

.fondoMesa{
    background-image: url('./../imgs/fondoMesa.png');
    background-size: cover;
    background-position: center;
}

main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    margin-top: 3%;
    height: 15%;
}

.displayNone{
    display: none;
}

.libro__botones .btn, .btn--atras{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding:12px ;   
    
    cursor: pointer;
}

.btn--atras{
    position: absolute;
    left: 1rem;
    top: 1rem;
}

.btn--pequenio{
    padding: 6px;
}

.btn > svg{
    width: 32px;
    height: 32px;
    color: #7D6835;
    stroke-width: 0.3rem;
    stroke-linejoin: miter;
}

.botones_lados{
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    z-index: 0;
}

.botones_lados .btn--izq{
    position: absolute;
    left: 0px;
}

.botones_lados .btn--der{
    position: absolute;
    right: 0px;
}

.logReg{
    border: solid #E59FE4 5px;
    border-radius: 23px;
    background-image:  linear-gradient(#943f92bd, #4d2859df);
    backdrop-filter: blur(5px);
    /*box-shadow: -1px -1px 73px -11px rgba(232,156,232,1); */
    box-shadow: -1px -1px 39px -3px rgba(232,156,232,1);
    height: 75%;
    width: 24%;
    text-align: center;
    margin-left: 4rem;
    display:flex;
    flex-direction: column; /*como es column el align items del padre lo pondrá en el centro de arriba a abajo*/
    align-items: center;
    gap: 38px;
    padding:15px 8px;
    z-index: 6;
}

.bodyBlur{
    position: absolute;
    background-color: #582e669c;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 5;
}
